html {
    /*background: url("images/bg.jpg") no-repeat center center fixed;*/
}

body {
    background: url("images/bg.jpg") no-repeat center center fixed;
    font-family: Helvetica, Arial, Sans-Serif;
}

nav ul {
    font-weight: bold;
    list-style-type: none;
}

li {
    float: right;
    display: block;
    margin: 14px 16px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

a:active {
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-size: 3em;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
}
/*




/*  ===========================================================================================================================
    Img Link Hover Effects
    ===========================================================================================================================

*/
