/*dark brown nav bar 3a2613
  darker nav bar hlt 140d06
  lighter nav bar dp 603f1f
  lines bt brown box d3d3d3
*/
.day {
    width:80%;
    margin: auto;
    text-align: center;
    background-color: #b8e0b9;
}

.day .title {
    border-bottom: 1px solid #3a2613;
    border-top: 1px solid #3a2613;
    background-color:#4CAF50;
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
    color: white;
}

.day .content {
    padding : 5px;
}

.wrapper { 
	padding: 3%;
	padding-top: 0;
}

.pgContent, .sidebar { 
	float: right;
    /*this was left before*/
}

.pgContent { 
	width: 85%;
	margin-left: 5%;
    /*this was right before*/
	margin-bottom: 50px;
}

.sidebar { 
	padding-top: 2%;
	width: 10%;
}

.box { 
	position: relative;
	background: #3a2613;
	padding: 10px;
	text-align: center;
    border-bottom: 1px solid #d3d3d3;
}

.box:last-child {
    border-bottom: 0;
}

.box a {
    color: white;
    text-decoration: none;
}